*{
    padding: 0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width: 330px;
    position: fixed;
    height: 100%;
    background-color: aqua;
    padding-top: 40px;
    list-style: none;
}
#text1{
    color: black ;
    font-size: 33px;
    font-weight: bold;
}
#text2{
color: black;
font-size: 33px;
font-weight: bold;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 150px;
    margin-left: 70px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
ul li a{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: wheat;
}
#Home{
    border: solid 2px;
    height: 630px;
    background-color: bisque;
    padding-left: 335px;
}
#text3{
    color: cadetblue;
    font-size: 55px;
}
#text4{
    color: cadetblue;
    font-size: 55px;
}
#text5{
    font-size: 20px;
    font-weight: bold;
}
#bt1{
    height: 30px;
    width: 100px;
    background-color: gray;
    border-radius: 15px;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 10px;
}
#About{
    border: solid 1px;
    height: 630px;
    background-color: bisque;
    padding-left: 330px;
}
#Aboutme{
    color: cadetblue;
    font-size: 55px;
}
html{
    scroll-behavior: smooth;
}
#bt2{
    height: 30;
    width: 110px;
    background-color: gray;
    border-radius: 20px;
}